.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3136;
}

.sidebar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px;
  background-color: #2f3136;
  color: white;
  border-bottom: 1px solid #232323;
}

.sidebar_channels {
  flex: 1;
  transition: 0.25s;
  overflow: scroll;
  overflow-x: hidden;
}
.sidebar_channels::-webkit-scrollbar {
  width: 10px;
}
.sidebar_channels::-webkit-scrollbar-track {
  background: rgba(235, 235, 236, 0.1);
}
.sidebar_channels::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.sidebar_channels::-webkit-scrollbar-corner {
  background: transparent;
}
.sidebar_addChannel {
  cursor: pointer;
}

.sidebar_addChannel:hover {
  color: white;
}

.sidebar_channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
  transition: 0.25s;
}

.siderbar_header {
  display: flex;
  align-items: center;
}

.sidebar_voice,
.sidebar_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  padding: 10px;
  border-top: 1px solid #555;
}

.sidebar_voiceInfo {
  flex: 1;
  padding: 2px;
}

.sidebar_voiceIcon {
  color: #4fb185;
}

.sidebar_voiceInfo > h5 {
  color: #4fb185;
}

.sidebar_voiceIcons > .MuiSvgIcon-root {
  padding: 3px 7.5px;
}

.sidebar_profileInfo {
  flex: 1;
  padding: 2px 6px;
}

.sidebar_profileInfo > h5 {
  color: white;
}

.sidebar_profileIcons > .MuiSvgIcon-root {
  padding: 3px 7.5px;
  cursor: pointer;
}
.sidebar_profileIcons > .MuiSvgIcon-root:hover {
  color: #fff;
}

.MuiIconButton-root {
  color: gray !important;
}
.MuiIconButton-root:hover {
  color: #fff !important;
}
